<div id="main_container">
	<div class="center_content details">
		<div class="center_title_bar">{{data.name}}</div>
		<div class="prod_box_big">
			<div class="center_prod_box_big">
				<div class="product_img_big">
					<a href="" class="bigimg" 
						><img id="bigimg" src="{{data.img}}" alt=""
						border="0" width="60px" height="100px" ng-mouseover="hoverIn($event)" ng-mouseleave="hoverOut()"/></a>
					<div class="thumbs">
						<a href="" ><img id="img1" src="{{data.img1}}" alt="" border="0"
							width="30px" height="29px" ng-mouseover="hoverIn($event)"
						ng-mouseleave="hoverOut()"/></a> <a href="" ><img id="img2" 
							src="{{data.img2}}" alt="" border="0" width="30px" height="29px" ng-mouseover="hoverIn($event)"
						ng-mouseleave="hoverOut()"/></a>
						<a href="" ><img id="img3" src="{{data.img3}}" alt="" border="0"
							width="30px" height="29px" ng-mouseover="hoverIn($event)"
						ng-mouseleave="hoverOut()"/></a>
					</div>
				</div>

				<div class="details_big_box">
					<div class="product_title_big">{{data.name}}</div>
					<div class="specifications">
						Disponibilitate: <span class="blue">In stoc</span><br /> Network
						Technology: <span class="blue">{{data.network}}</span><br />
						Display Size: <span class="blue">{{data.display}}</span><br />
						Internal Memory: <span class="blue">{{data.memory}}</span><br />
						SD Card Presence/Capacity: <span class="blue">{{data.sdcard}}</span><br />
						Processor: <span class="blue">{{data.processor}}</span><br />
					</div>
					<div class="prod_price_big">
						Price: <span class="reduce">{{data.price -- 1000}}</span> <span
							class="price">{{data.price}}</span>
					</div>
					<a href="" class="addtocart">add to cart</a> <a href=""
						class="buynow">Buy Now</a>
				</div>
			</div>
		</div>
		<div ng-show="popover" class="animate-show popup">
			<a> <img src="{{imgsrc}}" alt="" width="200px" height="380px">
			</a>
		</div>
	</div>
</div>