	<div id="main_container">
	<a class="show_hide_brands" id="plus" data-show="no">+Mobile Brands</a>
	<div class="slidingDiv_brands">
		<p>
			<input type="checkbox" value="1" name="sel_all_brand"
				id="sel_all_brand" checked><span>All Brands</span>
		</p>
		<p>
			<input type="checkbox" value="1" name="branddetails[]"
				id="checkbox_brand_id_1"><span>Apple</span>
		</p>
		<div class="clear"></div>
		<p>
			<input type="checkbox" value="2" name="branddetails[]"
				id="checkbox_brand_id_2"><span>Samsung</span>
		</p>
		<div class="clear"></div>
		<p>
			<input type="checkbox" value="58" name="branddetails[]"
				id="checkbox_brand_id_58"><span>Xiaomi</span>
		</p>
		<div class="clear"></div>
		<p>
			<input type="checkbox" value="11" name="branddetails[]"
				id="checkbox_brand_id_11"><span>Micromax</span>
		</p>
		<div class="clear"></div>
		<p>
			<input type="checkbox" value="4" name="branddetails[]"
				id="checkbox_brand_id_4"><span>Motorola</span>
		</p>
		<div class="clear"></div>
		<p>
			<input type="checkbox" value="22" name="branddetails[]"
				id="checkbox_brand_id_22"><span>Sony</span>
		</p>
		<div class="clear"></div>
		<p>
			<input type="checkbox" value="3" name="branddetails[]"
				id="checkbox_brand_id_3"><span>HTC</span>
		</p>
		<div class="clear"></div>
		<p>
			<input type="checkbox" value="41" name="branddetails[]"
				id="checkbox_brand_id_41"><span>Asus</span>
		</p>
		<div class="clear"></div>
		<p>
			<input type="checkbox" value="37" name="branddetails[]"
				id="checkbox_brand_id_37"><span>Lenovo</span>
		</p>
		<div class="clear"></div>
		<p>
			<input type="checkbox" value="10" name="branddetails[]"
				id="checkbox_brand_id_10"><span>LG</span>
		</p>
		<div class="clear"></div>
		<p>
			<input type="checkbox" value="19" name="branddetails[]"
				id="checkbox_brand_id_19"><span>Acer</span>
		</p>
		<div class="clear"></div>
		<p>
			<input type="checkbox" value="33" name="branddetails[]"
				id="checkbox_brand_id_33"><span>Airtyme</span>
		</p>
		<div class="clear"></div>
		<p>
			<input type="checkbox" value="12" name="branddetails[]"
				id="checkbox_brand_id_12"><span>Alcatel</span>
		</p>
		<div class="clear"></div>
		<p>
			<input type="checkbox" value="31" name="branddetails[]"
				id="checkbox_brand_id_31"><span>Beetel</span>
		</p>
		<div class="clear"></div>
		<div class="cmp-mor">
			<p>
				<input type="checkbox" value="13" name="branddetails[]"
					id="checkbox_brand_id_13"><span>BlackBerry</span>
			</p>
			<div class="clear"></div>
		</div>
	</div>
	
	<a class="show_hide_screen_size" id="plus_screen" data-show="no">+Screen Size(Inches)</a>
	<div class="slidingDiv_screen_size">
		<p>
			<input type="checkbox" value="1" name="sel_all_brand"
				id="sel_all_brand" checked><span>Up to 4.0</span>
		</p>
		<p>
			<input type="checkbox" value="1" name="branddetails[]"
				id="checkbox_brand_id_1"><span>4.0 - 5.0</span>
		</p>
		<div class="clear"></div>
		<p>
			<input type="checkbox" value="2" name="branddetails[]"
				id="checkbox_brand_id_2"><span>5.0 - 6.0</span>
		</p>
		<div class="clear"></div>
		<p>
			<input type="checkbox" value="58" name="branddetails[]"
				id="checkbox_brand_id_58"><span>Above 6.0</span>
		</p>
		<div class="clear"></div>
	</div>
	<button type="submit" class="btn btn-default">Apply</button>
	</div>