<div id="home_page">
	<div id="main_container">
		<div id="header">
			<div class="oferte_content">
				<div class="top_divider">
					<img src="css/images/header_divider.png" alt="" width="1"
						height="164" />
				</div>
				<div class="oferta">
					<div class="top_divider">
						<img src="css/images/header_divider.png" alt="" width="1"
							height="164" />
					</div>
				</div>
				<!-- end of oferte_content-->
			</div>
			<div id="main_content">
				<div id="menu_tab">
					<div class="left_menu_corner"></div>
					<ul class="menu">
						<li ng-repeat="pl in platform"><a href ng-click="listProducts(pl, undefined)" class="nav1">{{pl}}</a></li>
						<li class="divider"></li>
					</ul>
					<div class="right_menu_corner"></div>
				</div>
				<!-- end of menu tab -->
				<div class="left_content">
					<div class="title_box">Categories</div>
					<ul class="left_menu" ng-repeat="cat in category">
						<li ng-class-odd="'odd'" ng-class-even="'even'"><a href ng-click="listProducts(mainCategory, cat.category)">{{cat.category}}</a></li>
					</ul>
				</div>
				<!-- end of left content -->
				<div class="center_content">
					<div class="center_title_bar">Latest Products</div>
					<div ng-repeat="mod in models" class="prod_box">
						<div class="top_prod_box"></div>
						<div class="center_prod_box">
							<div class="product_title">
								<a href="">{{mod.name}}</a>
							</div>
							<div class="product_img">
								<a href=""><img src="{{mod.img}}" alt="" width="27"
									height="46" border="0" /></a>
							</div>
							<div class="prod_price">
								<span class="price">{{mod.price}}</span>
							</div>
						</div>
						<div class="bottom_prod_box"></div>
						<div class="prod_details_tab">
							<a href="" title="header=[Add to cart] body=[&nbsp;] fade=[on]"><img
								src="css/images/cart.gif" alt="" border="0" class="left_bt" /></a>
							<a href="" title="header=[Specials] body=[&nbsp;] fade=[on]"><img
								src="css/images/favs.gif" alt="" border="0" class="left_bt" /></a>
							<a href="" title="header=[Gifts] body=[&nbsp;] fade=[on]"><img
								src="css/images/favorites.gif" alt="" border="0" class="left_bt" /></a>
							<a href="" class="prod_details">details</a>
						</div>
					</div>
				</div>
				<!-- end of center content -->
			</div>
			<!-- end of main content -->
			<div class="footer">
				<div class="left_footer">
					<img src="css/images/footer_logo.png" alt="" width="170"
						height="49" />
				</div>
				<div class="center_footer">
					Template name. All Rights Reserved 2008<br /> <a
						href="http://csscreme.com"><img src="css/images/csscreme.jpg"
						alt="csscreme" border="0" /></a><br /> <img
						src="css/images/payment.gif" alt="" />
				</div>
			</div>
		</div>
		<!-- end of main_container -->
	</div>